@model FitBody.WebUI.Model.TrainerListViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}





<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

</script>





<!-- sidebar element declaration -->
<!-- end of sidebar element -->
<!-- main content declaration -->

<div id="main-content container-fluid col-md-12">
    <div class="container">
        <div style="width: 90%; margin: 0 auto;">
            <table class="cell-border" style="width: 100%" id="myTable">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var trainer in Model.Trainers)
                    {
                        var base64 = Convert.ToBase64String(trainer.Image);
                        var imgsrc = string.Format("data:image/gif;base64,{0}", base64);

                        <tr>
                            <td>
                                <img src="@imgsrc" width="50px;" height="50px;" />
                            </td>
                            <td>@trainer.TrainerName</td>

                            <td>@trainer.TrainerSurname</td>
                            <td>@(trainer.Description.Substring(0,20)+"...")</td>
                            <td>
                                <a asp-action="TrainerEdit" asp-controller="Admin" asp-route-trainerId="@trainer.ID" class="btn btn-success">Edit</a>
                                <a asp-action="TrainerEdit" asp-controller="Admin" asp-route-trainerId="@trainer.ID" class="btn btn-danger">Delete</a>
                            </td>



                        </tr>
                    }


                </tbody>
            </table>


        </div>
    </div>
</div>

